<!-- <div>
    <div class="title">
        <h1>ALPACA GENERATOR</h1>
    </div>

    <div class="main">
        <div class="display">
            <div class="image"></div>
            <div class="image-button">
                <p-button label="Random" />
                <p-button label="Downlaod" />
            </div>
        </div>
        <div class="parameters">
            <legend>ACCESSORIZE THE ALPACA</legend>
            <div class="options"></div>
            <legend>STYLE</legend>
            <div class="options"></div>
        </div>
    </div>
</div> -->
<div>
    <canvas #alpacaCanvas width="512" height="512"></canvas>
</div>